- name: Add deb repo Haproxy
  apt_repository:
    repo: "deb http://httpredir.debian.org/debian jessie-backports main"

- name: Add deb-src repo Haproxy
  apt_repository:
    repo: "deb-src http://httpredir.debian.org/debian jessie-backports main"

- name: Generate /etc/apt/preferences.d/haproxy apt preference
  template:
    src: "{{ haproxy_apt_preference_template }}"
    dest: "/etc/apt/preferences.d/haproxy"
